src/main/java/com/kona/demosmsgw/stub/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Services.laotel.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://Services.laotel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Services.laotel.com/">
      <s:element name="sendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="tns:sendSmsRequest"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="sendSmsRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="header" type="tns:headerRequest"/>
          <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="headerSMS" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="sms_type" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="headerRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="trans_id" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="verson" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="sendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendSMSResult" type="tns:headerResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="headerResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="resultCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="resultDesc" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="trans_id" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:sendSMS"/>
  </wsdl:message>
  <wsdl:message name="sendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:sendSMSResponse"/>
  </wsdl:message>
  <wsdl:message name="sendSMSSPSoapIn">
    <wsdl:part name="parameters" element="tns:sendSMSSP"/>
  </wsdl:message>
  <wsdl:message name="sendSMSSPSoapOut">
    <wsdl:part name="parameters" element="tns:sendSMSSPResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
    <wsdl:operation name="sendSMS">
      <wsdl:input message="tns:sendSMSSoapIn"/>
      <wsdl:output message="tns:sendSMSSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendSMS">
      <soap:operation soapAction="http://Services.laotel.com/sendSMS" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
      <soap:address location="http://ltcservice.laotel.com:5577/Services.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>